.header {
    margin-bottom: 3rem;
}

.header__inner {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.35;
    transition: all 0.3s;
}

.header__inner:hover {
    opacity: 1;
}

.header__logo {
    font-size: 3rem;
    transition: all 0.3s;
    text-shadow: 0 0 10px var(--accent);
    cursor: pointer;
}

.header__logo:hover {
    opacity: 0.7;
}

.header__slogan {
    font-style: italic;
}

@media (max-width: 480px) {
    .header {
        margin-bottom: 1.5rem;
    }
}
