.main {
    position: relative;
}

.main:after {
    content: "";
    /* position: absolute; */
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    /* background: url("../images/stars3.gif") 0 0 / cover no-repeat; */
    width: 100%;
    height: 100%;
    opacity: 0.25;
}

.main__inner {
    padding-bottom: 10rem;
}

.main__title {
    display: inline-block;
    font-size: 2rem;
    letter-spacing: 1px;
    border-bottom: 1px solid var(--accent);
    padding: 0 0.5rem 0.8rem;
    margin-bottom: 4rem;
}

/* ================================================================================================ */

.ambiences {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5rem;
}

@media (max-width: 993px) {
    .ambiences {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .ambiences {
        grid-template-columns: repeat(2, 1fr);
    }
    .main__title {
        display: block;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .ambiences {
        grid-template-columns: repeat(1, 1fr);
    }
}
