.main {
    position: relative;
}

.main:after {
    content: "";
    /* position: absolute; */
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    /* background: url("../images/stars3.gif") 0 0 / cover no-repeat; */
    width: 100%;
    height: 100%;
    opacity: 0.25;
}

.main__inner {
    padding-bottom: 10rem;
}

.main__title {
    display: inline-block;
    /* display: block; */
    font-size: 2.2rem;
    letter-spacing: 1px;
    border-bottom: 1px solid var(--accent);
    border-bottom: 1px solid gold;
    padding: 0 1rem 0.8rem;
    /* margin-bottom: 4rem; */
    transition: all 0.3s;
    color: gold;
    text-shadow: 0 0 2px gold;
    text-align: center;
}

/* ================================================================================================ */

.ambiences {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5rem;
    margin-left: 3rem;
}

.ambiences-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: snow;
    text-shadow: 0 0 2px snow;
}

/* ================================================================================================ */

@media (max-width: 993px) {
    .ambiences {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .ambiences {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
    }
    .main__title {
        display: block;
        text-align: center;
    }
    .ambiences-title {
        text-align: center;
    }
    .ambiences-title span {
        display: none;
    }
}

@media (max-width: 480px) {
    .ambiences {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem 2rem; /* First value is for row-gap, second is for column-gap */
    }
    .main__title {
        margin-bottom: 2.5rem;
    }
    .main__inner {
        padding-bottom: 12rem;
    }
}
